body * {
  margin:0;
  padding:0;
}

#quotations {
  position:relative;
  height:29px;
  overflow:hidden;
  background-color:#ebd4c9;
  padding: 8px;
font-size:11px;
width:647px;
float:right;
margin-bottom:16px;
  
}

#quotations #quoted {
color: #878889;
font-size: 11px;
font-weight:lighter;
margin-top:0;
float:left;
}

#quotations p {
  font-size: 11px;
  font-weight:lighter;
  float: right;

}

#quotations div {
  position:absolute;
  width:647px;
}