body {
font-family:Frutiger, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding:0;
margin:0;
background-color:#ffffff;
color:#808284;
}
html {
overflow-y: scroll;
}
#wrapper { 
margin : 0 auto;
width : 980px;
padding: 0 ;
}
#topleft {
position:absolute;
width:193px;
height:183px;
}
#topleft p {
margin:0;
}
#topleft img {
width:193px;
height:183px;
}
#toptext {
position:absolute;
width:177px;
color:#ffdc00;
margin:135px 0 0 0;
padding-left:8px;
font-size:9px;
font-weight:bold;
}
#logo {
margin: 35px 0 0 223px;
position:absolute;
height: 118px;
width: auto;
}

h1 {
	font-size:16px;
	font-weight:normal;
	color:#c8d100;
	position:absolute;
	margin:89px 0 0 509px;
}

a {
	outline:none;
}

img {
	border:none;
}

#navigation{
	margin-top:95px;
	margin-left:425px;
	float:right;
	min-height:32px;
	clear: right;
}

ul.mainnav,
ul.subnav {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul.subnav {
	float: right;
}

ul.mainnav li,
ul.subnav li {
	float:left;
	border-right:2px solid #c8d100;
}

ul.mainnav li.nav-contact,
ul.subnav li.nav-last {
	border-right:none;
}

ul.mainnav li.nav-contact a,
ul.subnav li.nav-last a {
	padding-right:0;
}

ul.mainnav li.nav-home a {
padding-left:0;
}
ul.mainnav li a,
ul.subnav li a {
display:block;
color:#7295c1;
text-decoration:none;
font-size:12px;
padding:0 20px;
}

ul.mainnav li a:hover,
ul.subnav li a:hover
#home #navigation .nav-home a,
#aboutus #navigation .nav-aboutus a,
#approach #navigation .nav-approach a,
#clients #navigation .nav-clients a,
#team #navigation .nav-associates a,
#contact #navigation .nav-contact a {
  color:#00264b;
}

.clearnav {
  clear: both;
  margin-bottom: 17px;
}


#breadcrumb {
clear:both;
margin-left:193px;
background-color:#dae0e7;
height:16px;
padding-left:32px;
}
#breadcrumb ul {
list-style-type:none;
padding:0;
margin:0;
display:inline;
}
#breadcrumb li {
float:left;
padding-right: 9px;
color:#242424;
}
#breadcrumb a {
color:#005d9d;
text-decoration:none;
}
#breadcrumb li.current a {
color:#242424;
}
#breadcrumb a:hover,
#breadcrumb li.current a:hover {
color:#00264B;
}
#content {
clear:both;
}
#leftcolumn {
float:left;
margin-top:31px;
width:225px;
}
h2 {
margin:0 0 0 16px;
font-size:11px;
line-height:17px;
font-weight:normal;
color:#669588;
font-style:italic;
padding:0;
width:177px;
min-height: 102px;
}
ul.navigation-left,
ul.blogpage {
margin:0;
padding:14px 0 29px 16px;
list-style-type:none;
}

ul.navigation-left li a,
ul.blogpage li a {
display:block;
background-image:url(images/square-yellow.jpg);
background-repeat: no-repeat;
background-position: 0 5px;
color:#005d9d;
text-decoration:none;
padding: 0 0 9px 16px;
}

ul.navigation-left li a:hover,
#leader ul.navigation-left li.left-leader a,
#performance ul.navigation-left li.left-performance a,
#teams ul.navigation-left li.left-teams a,
#strategic ul.navigation-left li.left-strategic a,
#management ul.navigation-left li.left-management a,
#midlife ul.navigation-left li.left-midlife a {
background-image:url(images/square-blue.jpg);
color:#00264b;
}

#quotations {
font-style:italic;
font-size:11px;
line-height:17px;
margin:0 32px 0 16px;
color:#669588;
position:relative;

}
#quotations div {
  position:absolute;
}
#centrecolumn {
float:right;
width:755px;
margin-top:31px;
line-height:17px;
}
.bodyimages {
float:right;
width:113px;
margin:0 0 0 16px;
font-size: 9px;
line-height: 12px;
}
#centrecolumn #bodyimages p {
margin: 0 0 16px 0
}
.bodyimages img,
.bodyimages p img {
width:113px;
height:auto;
}
h3 {
margin:0;
font-size: 12px;
}

#leftcolumn h3 {
	margin-top: 17px;
	padding-left: 16px;
}

#centrecolumn p {
margin:0 0 17px 0;
}
#centrecolumn ul {
padding-left:16px;
margin-left:0;
}
#centrecolumn a {
color:#005D9D;
text-decoration:none;
}
#centrecolumn a:hover {
color:#00264b;
}
.association {
margin-bottom: 32px;
}
.association td{
vertical-align: bottom;
padding-bottom: 16px;
min-width: 192px;
}
.cert_logo {
float: left;
margin-right:32px;
}
.centrepic {
float:right;
margin:5px 0 16px 16px;
}

.halflist {
	float:left;
	width:50%;
	margin-bottom: 20px;
}

.post {
	margin-bottom:32px;
}

.expandable {
	margin-bottom: 32px;
}

#centrecolumn ul.assocblock {
	list-style-type: none;
	display: block;
	width: 546px;
	margin: 0;
	padding: 0;
}

#centrecolumn ul.assocblock li {
	float: left;
	margin-right: 22px;
	margin-bottom: 22px;
	padding: 0;
	width: 120px;
}

#centrecolumn ul.assocblock li.assocright {
	margin-right: 0;
}

#centrecolumn ul.assocblock li img {
	width: 120px;
	height: 160px;
}

#centrecolumn ul.assocblock li a {
	color:#808284;
}
#centrecolumn ul.assocblock li a:hover {
color:#005D9D;
}
#rightcolumn {
float:right;
width:177px;
}
#rightnav {
background-color:#d4dbea;
padding:17px 0 32px 0;
}
#carciofino {
margin-top: 8px;
font-size: 12px;
padding-left: 32px;
clear: both;
}
#carciofino a {
color:#808284;
text-decoration: none;
}
#carciofino a:hover {
color: #688146;
}
#rightcolumn h3 {
padding:17px 0 9px 32px;
margin:0;
color:#63948b;
font-size:12px;
}
ul.navigation-right {
margin:0;
padding:0 8px 0 32px;
list-style-type:none;
}
ul.navigation-right li a {
display:block;
background-image:url(images/square-yellow.jpg);
background-repeat: no-repeat;
background-position: 0 5px;
color:#005d9d;
text-decoration:none;
padding: 0 0 9px 16px;
}
ul.navigation-right li a:hover {
background-image:url(images/square-blue.jpg);
color:#00264b;
}

ul.social {
	float: right;
	padding-top:20px;
	margin: 0;
	list-style-type:none;
}

ul.social li {
float:left;
margin-left:6px;
height: 20px;
}

ul.social li img {
	height: 25px;
	width: 25px;
}

.clear {
clear:both;
}

.pagetable {
  border-collapse: collapse;
}

.pagetable td {
  border: 1px solid;
  padding: 2px 4px;
}

.back {
	float: right;
	font-style: italic;
}